@import 'https://fonts.googleapis.com/css?family=Cairo';

body {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  direction: rtl;
}

.main-navigation {
  background: #cc6600;
  padding: 0 2rem;
  font-size: 1.2rem;
}

.navbar-brand h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #dfcefc;
  margin-left: 1rem;
}

.main-navigation-items{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.main-navigation-items ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-navigation-items li {
  margin: 0 1rem;
}

.main-navigation-items a,
.main-navigation-items button,
.main-navigation button {
  text-decoration: none;
  color: white;
  border: none;
  font: inherit;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
}

.main-navigation-items a:hover,
.main-navigation-items a:active,
.main-navigation-items a.active{
  color: #dfcefc;
  font-size: 1.3rem;
}

.main-navigation-items button:hover,
.main-navigation-items button:active,
.main-navigation button:hover,
.main-navigation button:active {
  background: #ffffff;
  color: #cc6600;
  border-radius: 5px;
}

.auth-form {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
  border-style: solid;
  border-color: #cc6600;
  border-radius: 2px;
  padding: 3%;
  padding-top: 2%;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.events-control {
  text-align: center;
  border: 1px solid #cc6600;
  padding-bottom: 1rem;
  margin: 2rem auto;
  margin-bottom: 0;
  width: 30rem;
  max-width: 80%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
}

.form-control label,
.form-control input,
.form-control textarea {
  width: 98%;
  font-size: 18px;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions button,
.btn {
  background: #cc6600;
  font: inherit;
  border: 1px solid #cc6600;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: white;
  cursor: pointer;
  outline: none;
}

button[disabled], 
button[disabled]:hover{
  background-color: #999999;
  border-color: #999999;
  cursor: not-allowed;
}

.submit-btn{
  margin-left: 1rem;
}

button > a {
  text-decoration: none;
  color: white;
}

div > h2 {
  text-align: center;
  padding-top: 1.5%;
  color: #7c7c7c;
}

.form-actions button:hover,
.form-actions button:active,
.btn:hover,
.btn:active {
  background: #ff8000;
  border-color: #ff8000;
}

.bookings-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 40rem;
  max-width: 90%;
}

.bookings-item {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #cc6600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookings-control {
  text-align: center;
  padding: 0.5rem;
}

.bookings-control button {
  font: inherit;
  border: none;
  background: transparent;
  color: #000000;
  padding: 0.25rem 3rem;
  border-bottom: 2px solid transparent;
  outline: none;
  cursor: pointer;
}

.bookings-control button.active {
  border-bottom: 2px solid #cc6600;
  color: #cc6600;
}

.events-list {
  width: 100%;
  align-items: center;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

.events-list-item {
  width: 15rem;
  height: 10rem;
  padding: 2rem 1rem;
  padding-top: 1rem;
  border-radius: 5px;
  border: 1px solid #cc6600;
  text-align: center;
  color: #111111;
  box-shadow: 0px 3px 4px -7px rgba(0, 0, 0, 0.5);
  margin: 0 2rem 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  overflow: auto;
}
 
.events-list-item h1 {
  margin: 0;
  font-size: 1.3rem;
  color: #cc6600;
}

.events-list-item h2 {
  margin: 0;
  font-size: 1rem;
  color: #7c7c7c;
}

.events-list-item p {
  margin: 0;
}

.modal {
  width: 50rem;
  max-width: 90%;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 10vh;
  left: 5%;
  z-index: 100;
}

.modal-header {
  padding: .5rem;
  background: #cc6600;
  color: #ffffff;
  font-size: 1.25rem;
}

.modal-header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.modal-content {
  padding: 1rem;
  padding-bottom: 0;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  padding-top: 0;
}

@media (min-width: 768px) {
  .modal {
    width: 30rem;
    left: calc((100% - 30rem) / 2);
  }
}

